

/* pour centrer des objets */


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid_header{
    
}
.onglets{

}
.first_onglet{

}
/* Style des objets globaux */

button{
    background: #6c5ce7;
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}