<!DOCTYPE HTML>
<html lang="fr-FR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/styles.css">
        <title>Sunset</title>
    </head>

<body>
    <section>
         <div id="sunset">  
            <h1>Sunset</h1>
         </div>
         <div class="citation center"> 
            <p id="citation"></p>
        </div>
        <div class="date-display center">
            <p id="date-display"></p>
        </div>
    </section>
    <section>
        <div class="first_onglet center">
            <button id="btn-dashboard">Tableau de Bord</button>
        </div>
        <div class="onglets center">
            <button id="btn-notes">Notes</button>
            <button id="btn-habits">Habitudes</button>
            <button id="btn-rdv">Rendez-vous</button>
        </div>
         <div class="first_onglet center">
            <h3 id="page-title">Tableau de Bord / Page d'accueil</h3>
        </div>

    </section>

    <main>
        <section id="dashboard">   
            <div class="card center">
                <h4>Habitudes en cours</h4>
                <div class="little_header">
                    <p>Habits actives</p>
                    <p>Completion semaine</p>
                    <p>Evolution vs semaine passée</p>
                </div>
            </div>
            <div class="card center">
                <h4>RDV cette semaine</h4>
            </div>
            <div class="card center">
                <h4>Dernières notes</h4>
            </div>
        </section>
        
        <section id="habits" style="display: none;">
            <div class="center">
                <button id="btn-new-habits">+ New habit</button>
                <div id="modal-habit" style="display: none;">
                <div class="modal-content">
                    <h3>Nouvelle Habitude</h3>
                    <label>Nom</label>
                    <input type="text" id="habit-name" placeholder="Ex: Pompes, Lire 30min...">
                    <label>Objectif (nombre)</label>
                    <input type="number" id="habit-goal" value="7">
                    <label>Description (optionnel)</label>
                    <input type="text" id="habit-description" placeholder="Description...">
                    <div class="modal-buttons">
                        <button id="btn-cancel-habit">Annuler</button>
                        <button id="btn-create-habit">Créer</button>
                    </div>
                </div>
                </div>
            </div>
            <div id="modal-habit-detail" style="display: none;">
                <div class="modal-content">
                    <input type="text" id="habit-detail-name">
                    <label>Objectif :</label>
                    <input type="text" id="habit-detail-goal">
                    <label>Description :</label>
                    <input type="text" id="habit-detail-description">

                    <div class="modal-buttons">
                        <button id="btn-close-habit-detail">Fermer</button>
                        <button id="btn-delete-habit" style="background: #e74c3c;">Supprimer</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <table>
                    <thead>
                        <tr>
                            <th>Habitude</th>
                            <th>Objectif</th>
                            <th>Lun</th>
                            <th>Mar</th>
                            <th>Mer</th>
                            <th>Jeu</th>
                            <th>Ven</th>
                            <th>Sam</th>
                            <th>Dim</th>
                            <th class="total">Total</th>
                        </tr>
                    </thead>
                    <tbody id="habits-body">
                    </tbody>
                </table>
            </div>
        </section>

        <section id="notes" style="display: none;">
            <div id="notes-toolbar">
                <button id="btn-new-note">+ New Note</button>
                <button id="corbeille">Corbeille</button>
                <div id="modal-note" style="display: none;">
                <div class="modal-content">
                    <h3>Nouvelle Note</h3>
                    <label>Titre</label>
                    <input type="text" id="note-title" placeholder="Titre de la note...">
                    <div class="modal-buttons">
                        <button id="btn-cancel-note">Annuler</button>
                        <button id="btn-create-note">Créer</button>
                    </div>
                </div>
                </div>
            </div>
            <div class="card" id="notes-list">
            </div>
                <div id="note-detail" style="display: none;">
                    <button id="btn-back-notes">← Retour</button>
                    <div class="note-detail-card">
                        <div class="note-detail-header">
                            <input type="text" id="note-detail-title" placeholder="Titre...">
                            <div class="note-toolbar">
                                <input type="color" id="btn-color" class="toolbar-color" value="#ffffff">
                                <select id="btn-fontsize" class="toolbar-select">
                                    <option value="3">14px</option>
                                    <option value="4">16px</option>
                                    <option value="5">18px</option>
                                    <option value="6">24px</option>
                                    <option value="7">32px</option>
                                </select>
                                <button class="toolbar-btn" id="btn-bold">B</button>
                                <button class="toolbar-btn" id="btn-italic"><i>I</i></button>
                            </div>
                        </div>
                        
                        <div contenteditable="true" id="note-detail-content" data-placeholder="Écris ici..."></div>
                        <p id="note-detail-dates"></p>
                    </div>
                </div>
        </section>
        <section id="rendez-vous" style="display: none;">
         <div class="center">
            <button id="btn-new-rdv">+ New RDV</button>
                <div id="modal-rdv" style="display: none;">
                    <div class="modal-content">
                        <h3>Nouveau RDV</h3>
                        <label class="calendar-modal-title">Titre</label>
                        <input type="text" id="rdv-title" placeholder="Titre du RDV">
                        <label class="calendar-modal-title">Date de début du RDV</label>
                        <input type="date" id="rdv-start-date">
                        <input type="time" id="rdv-start-time">
                        <label class="calendar-modal-title">Date de fin du RDV</label>
                        <input type="date" id="rdv-end-date">
                        <input type="time" id="rdv-end-time">
                        
                        <label class="calendar-modal-title">Lieu</label>
                        <input type="text" id="rdv-location">
                        <label class="calendar-modal-title">Commentaires</label>
                        <input type="text" id="rdv-description">
                        
                        <input type="color" id="rdv-color" value="#6c5ce7">
                        <div class="modal-buttons">
                            <button id="btn-cancel-rdv">Annuler</button>
                            <button id="btn-create-rdv">Créer</button>
                        </div>
                    </div>

                </div>

                <div id="modal-rdv-detail" style="display: none;">
                    <div class="modal-content">
                        <h3>Détail du RDV</h3>
                        <label class="calendar-modal-title">Titre</label>
                        <input type="text" id="rdv-detail-title">
                        <label class="calendar-modal-title">Date de début</label>
                        <input type="date" id="rdv-detail-start-date">
                        <input type="time" id="rdv-detail-start-time">
                        <label class="calendar-modal-title">Date de fin</label>
                        <input type="date" id="rdv-detail-end-date">
                        <input type="time" id="rdv-detail-end-time">
                        <label class="calendar-modal-title">Lieu</label>
                        <input type="text" id="rdv-detail-location">
                        <label class="calendar-modal-title">Commentaires</label>
                        <input type="text" id="rdv-detail-description">
                        <label class="calendar-modal-title">Couleur</label>
                        <input type="color" id="rdv-detail-color" value="#6c5ce7">
                        <div class="modal-buttons">
                            <button id="btn-close-rdv-detail">Fermer</button>
                            <button id="btn-delete-rdv" style="background: #e74c3c;">Supprimer</button>
                        </div>
                    </div>
                </div>


            </div>
        <div class="card">
            <div class="calendar-header">
                <div></div>
                <div class="calendar-day">Lun</div>
                <div class="calendar-day">Mar</div>
                <div class="calendar-day">Mer</div>
                <div class="calendar-day">Jeu</div>
                <div class="calendar-day">Ven</div>
                <div class="calendar-day">Sam</div>
                <div class="calendar-day">Dim</div>
            </div>

            <div class="calendar-grid" id="calendar-grid">
                <div class="calendar-hour">

                </div>
            </div>
        </div>
         </section>





    </main>

<script type="module" src="static/js/main.js"></script>
</body>

</html>